.main{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
.top-menu{
 padding: 0px;
 font-family: sans-serif; 
 width: 100%;
 height: 10%;
 background-color: blue;
 margin: 0 auto;
}
.content-area{
 font-family: sans-serif; 
 width: 66%;
 height: 100vh;
 display: flex;
 background-color: red;
}
.video-area{
width: 30%;
height: 50vh;
margin-right: 2%;
margin-left: 1%;
display: inline-flex;
background-color: purple;
}
.graph-area{
width: 30%;
height: 50vh;
margin-right: 2%;
display: inline-flex;
background-color: purple;
}
.index-area{
width: 34%;
height: 100vh;
float: right;
background-color: purple;
}
.task-area{
width: 63%;
height: 40vh;
margin-right: 2%;
margin-left: 1%;
float: left;
background-color: purple;
}