.roboSel-body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: white;
  width: 300px;
  height: 500px;
  background-color: black;
  text-align: center;
}
.roboIP {
    margin: 5px;
}
.camIP{
   margin: 5px;
}