.main {
    flex: 0, 1, auto;
}

.top-menu {
    padding: 0px;
    font-family: sans-serif;
    color: white;
    width: 100%;
    height: 10%;
    background-color: black;
    margin: 0 auto;
    display: inline-flex;
    padding-bottom: 1%;
}

.logo {
    margin: 0 auto;
    align-self: left;
    width: 20%;
    height: 100%;
}

.logo img {
    align-self: left;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.robot-info {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    align-self: center;
}

.settings {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    color: white;
    border: none;
    background-color: black;
}

.logout {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    color: white;
    border: none;
    background-color: black;
    align-self: right;
}


/*BOXES ---------------------------------------------------------------------------*/

.box-right {
    min-width: 25%;
    display: flex;
}

.video-area {
    /*Test af resize*/
    width: 40%;
    /* */
    background-color: rgba(132, 129, 128,0.5);
    overflow: hidden;
}

.video-area img {
    width: 100%;
}

.graph-area {
    background-color: rgba(132, 129, 128,0.5);
    width: 40%;
    max-height: 50%;
}

.index-area {
    width: 97%;
    background-color: rgba(132, 129, 128,0.5);
}

.task-area {
    display: inline-flex;   
    background-color: rgba(132, 129, 128,0.5);
    flex-grow: 2;
    margin: 15px;
}

.graph-area {
    max-width: 100%;
    align-content: stretch;
}


/*CONTENT ------------------------------------------------------------------------------*/

.content-area {
    /*COLORS*/
    background-image: url("../images/Inrotech_www_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

    align-content: stretch;
    min-height: 90vh;
    display: flex;
    align-content: stretch;
    flex-grow: 1;
}

.box-left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.box-left-top {
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 15px;
    justify-content: space-between;
}

.box-left div {
    
    min-height: 200px;
}

.box-left-top div {
    flex-grow: 1;
    
}
.c3 svg {
    max-width: 100%;}
.taskmanager {
  width: 100%;
}
.taskmanager div{
  min-height: 0px;
}