body{
    color: black;
    font: 14px arial, sans-serif;
 }
 .wrapper {
    position:relative;
    width:100%;
    margin: 0 auto;
    top:50px;
    
}
.divContent {
    margin: 0 auto;
    /*background-color:blue;*/
    height: 50%; 
    width:700px;
    top: 25%;
    bottom: 25%;
    text-align: center; 
    position: relative;
}
#reg{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    float: left;
    padding-bottom: 25px;
}
#check{
    padding-top: 48.8px;
    width: 30%;
    margin: 0 auto;
    float: left;
    padding-bottom: 25px;
}
.cbStyle{
    height: 25px;
    margin: 6.3px;
    
}