.webcam{
    width: 300px;
    height: auto;
}

.vlc_player{
width: auto;
height: 46vh;
}

.video_container{
width: auto;
height: 46vh;
}

.clsid-9BE31822-FDAD-461B-AD51-BE1D1C159921{
width: auto;
height: 46vh;
}